{% extends 'base.html.twig' %}

{% block body %}
    <h1>User Details</h1>
    <p>User ID: {{ user.id }}</p>
    <p>Username: {{ user.nom }}</p>
    <!-- Add other user details as needed -->
{% endblock %}